*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
}

textarea,
select,
button,
input {
  font: inherit;
}

button {
  cursor: pointer;
}

button,
img {
  display: block;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  // hyphenates a broken word
  hyphens: auto;
}

p {
  // when line wrap occurs on paragraphs, ensure there is at least 2 words on the last line.
  text-wrap: pretty;
}
