.options {
  --gap: 6px;
  background-color: $bg;
  border-radius: 9999px;
  width: max-content;
  padding: 6px;
  display: flex;
  gap: var(--gap);

  .defaultWrapper,
  .moreWrapper {
    display: flex;
    align-items: center;
    gap: var(--gap);
  }

  .toggleIcon {
    display: block;
    width: 20px;
    height: 20px;
  }
}
